<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/main.css') }}">

<body>

	<form action="/Football_game_1">
	    <input type="submit" value="Bet on Game 1" />
	</form>

  <form action="/Football_game_2">
	    <input type="submit" value="Bet on Game 2" />
	</form>

	<form action="/Football_game_3">
	    <input type="submit" value="Bet on Game 3" />
	</form>

	<form action="/Football_game_4">
	    <input type="submit" value="Bet on Game 4" />
	</form>

	<form action="/Football_game_5">
	    <input type="submit" value="Bet on Game 5" />
	</form>

	<form action="/Football_game_6">
	    <input type="submit" value="Bet on Game 6" />
	</form>

	<form action="/Football_game_7">
	    <input type="submit" value="Bet on Game 7" />
	</form>

<body>
