<!doctype html>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='./styles/main.css') }}">

<body>

	<form action="/Football_week_1">
	    <input type="submit" value="Bet on Week 1" />
	</form>

  <form action="/Football_week_2">
	    <input type="submit" value="Bet on Week 2" />
	</form>

	<form action="/Football_week_3">
	    <input type="submit" value="Bet on Week 3" />
	</form>

	<form action="/Football_week_4">
	    <input type="submit" value="Bet on Week 4" />
	</form>

	<form action="/Football_week_5">
	    <input type="submit" value="Bet on Week 5" />
	</form>

	<form action="/Football_week_6">
	    <input type="submit" value="Bet on Week 6" />
	</form>

	<form action="/Football_week_7">
	    <input type="submit" value="Bet on Week 7" />
	</form>

<body>
